<header class="header">
    <a class="header__logo" href="#">
        <div class="logo__svg">
            <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="1280px" height="1260px" version="1.1"
                 style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
                 viewBox="0 0 259.72 255.66">
              <path fill="none" stroke="#8D81AC" stroke-width="13.52" stroke-linecap="round" stroke-linejoin="round"
                    stroke-miterlimit="22.9256"
                    d="M56.21 42.07l-24.57 0.25 -0.12 53.12 -24.76 32.96 24.93 24.85 0.02 61.04 24.5 -0.31m147.29 -171.91l24.58 0.25 0.11 53.12 24.77 32.96 -24.94 24.85 -0.02 61.04 -24.5 -0.31m-87.2 -207.22l48.75 1.8 -14.71 210.24 -48.75 -1.8 14.71 -210.24zm-2.98 42.56l48.75 1.79m-60.48 165.89l48.75 1.8 -23.9 30.1 -4.78 -0.21 -20.07 -31.69z"/>
                <polygon fill="#8D81AC" points="105.27,221.45 144.91,223.15 125.52,244.86 122.36,244.69 "/>
            </svg>
        </div>
        <div class="logo__text">ForkIO</div>
    </a>
    <nav class="header__menu">
        <ul class="menu__list">
            <li class="menu__list-item active"><a href="#">Overview</a></li>
            <li class="menu__list-item"><a href="#">About Fork</a></li>
            <li class="menu__list-item"><a href="#">Buying Options</a></li>
            <li class="menu__list-item"><a href="#">Support</a></li>
        </ul>
    </nav>
    <div class="menu__list-item buy_btn"><a href="#">Buy Now</a></div>
    <div id="menu-button">
        <svg class="menu-button-open"  xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="30px" height="30px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
             viewBox="0 0 50.06 29.44" fill="white">
            <rect x="26.5" width="23.56" height="5.89"/>
            <rect y="11.78" width="50.06" height="5.89"/>
            <rect y="23.56" width="50.06" height="5.89"/>
        </svg>
        <svg class="menu-button-close" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="30px" height="25px" version="1.1" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd"
             viewBox="0 0 45.38 45.38" fill="white">
            <rect transform="matrix(-0.707107 -0.707107 0.707107 -0.707107 40.6 45.3762)" width="57.42" height="6.76"/>
            <rect transform="matrix(0.707107 -0.707107 0.707107 0.707107 0.000892526 40.5996)" width="57.42" height="6.76"/>
        </svg>
    </div>
</header>